<div class="center top-buffer">
	<h3 id="text" class="bump"></h3>
	{{#each genres}}
		<a href="/classify?genre={{genre}}"> <button> {{genre}} </button></a>
	{{/each}}
</div>
{{!-- <div id="overlay" class="gone">
	<div class="outerlay">
		<div class="loading">
			<h1>Training some datas</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
</div> --}}